@model MNPContactManagementWeb.ViewModels.ContactDetailVM
@{
    ViewBag.Title = "Contact Detail";
}


<div class="row">
    <div class="col-md-12">

        <div style="text-align: left; padding-top:10px; padding-bottom: 10px;">
            <h5>Contact Detail</h5>
        </div>

        <!-- #region Contact Info form -->
        @using (Html.BeginForm("Index", "Contact", FormMethod.Post, new { id = "frmSubmit", enctype = "multipart/form-data", name = "frmSubmit" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ContactID)
           <div class="row">
        <div class="col-md-12" style="padding-bottom:10px;">
            <div class="col-md-4">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.ContactName, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ContactName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Address, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.LastDateContacted, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.LastDateContacted, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LastDateContacted, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding-bottom:10px;">
            <div class="col-md-4">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.JobTitle, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.JobTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Phone, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Comments, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextAreaFor(m => m.Comments, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Comments, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding-bottom:10px;">
            <div class="col-md-4">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.SelectedCustomer, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.SelectedCustomer, Model.CustomerList, "", new { @class = "form-control", @id = "ddlCustomer" })
                        @Html.ValidationMessageFor(m => m.SelectedCustomer, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.EmailAddress, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-md-12" style="text-align:center;">
            <button type="submit" id="btnSave" class="btn btn-primary">Save</button>
            @Html.ActionLink("Cancel", "", "Home", null, new { @class = "btn btn-primary" })
        </div>
    </div>
        }
        <!-- #endregion -->
    </div>
    </div> 
    @section Scripts{

        @Scripts.Render("~/bundles/contact") 
    }
